MQTT_HOST=38.172.195.113
MQTT_PORT=1883
DOCKER_UID=1000
DOCKER_GID=1000
MQTT_DEVICES_JSON=[{"username":"iot-sensor-001","password":"replace-me","topic":"sensores/iot-sensor-001/#"},{"username":"iot-sensor-002","password":"replace-me","topic":"sensores/iot-sensor-002/#"},{"username":"iot-sensor-003","password":"replace-me","topic":"sensores/iot-sensor-003/#"}]
